<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="BaseUrl" value="http://+:8888"/>
    <add key="SerialNumberSeed" value="${SERIAL_NUMBER_SEED}"/>
  </appSettings>
</configuration>
